@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ColdBanana_UmbracoTest.Models.EventModel>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
<!-- Modal -->

@using (Html.BeginUmbracoForm("SubmitForm", "EventSurface", FormMethod.Post))
{
    <div class="modale" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Please Login</h2>
                <a href="#" class="btn-close closemodale" aria-hidden="true">&times;</a>
            </div>

            {
            <div class="modal-body">

                <label>Full Name:</label> <input type="text" name="" required="" placeholder="Full Name" size="80" /><br>
                <label>Email:</label> <input type="email" name="" required="" placeholder="Email" size="80" /><br>
                <label>Event:</label> <input type="text" name="" required="" placeholder="Name of event?" size="80" readonly /><br>
                <label>Tickets:</label> <input type="number" name="" required="" min="1" max="100">
            </div>
            <div class="modal-footer">


                <input type="submit" value="Submit" />


            </div>
        </div>
    </div>
}
<!-- /Modal -->
<!-- End of Form-->
<!-- Events-->
